.main-page-box {
    width: 100%;
}

.main-page-box .main-intro-box>div {
    width: 100%;
    height: calc(100vh - 90px);
}

.main-page-box .main-intro-box>div:nth-child(1) {
    background-color: #BEE9B4;
}

.main-page-box .main-intro-box>div:nth-child(2) {
    background-color: white;
}

.main-page-box .main-intro-box>div:nth-child(3) {
    height: calc(100vh - 180px);
    background-color: #BEE9B4;
}