#map {
  position: fixed;
  left: 500px;
  z-index: 1; /*쓸모없는듯*/
  width: 80%;
  height: 100vh;
}

.with-map-siderbar {
  width: 100vw;
  height: 100vh;
}

.inputform {
  position: fixed;
  padding-top: 10px;
  background-color: white;
  z-index: 999;
}
