.modifyuser-box {
  width: 100%;
  height: 100%;
}

.modifyuser-box>h2 {
  margin-top: 2rem;
  border-bottom: 1px solid lightgrey;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.modifyuser-box>form>div {
  display: flex;
  font-size: 1.1rem;
  line-height: 2rem;
}

.modifyuser-box>form>div:nth-child(n+1) {
  border-bottom: 1px solid lightgrey;
}

.modifyuser-box>form>div>p {
  line-height: 3rem;
}

.modifyuser-box>form>div>p:first-child {
  width: 10rem;
  text-align: center;
}

.modifyuser-box>form>div>p:nth-child(2) {
  width: calc(100% - 10rem);
  padding-left: 2rem;
}

.modifyuser-box>form>div>div {
  width: calc(100% - 10rem);
}

.modifyuser-box>form>div>div>input {
  width: 100%;
  line-height: 3rem;
  border: 0;
  font-size: 1.1rem;
}

.modifyuser-box button {
  margin-top: 2rem;
  margin-left: calc(50% - 5rem);
  width: 10rem;
  height: 3rem;
  border: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #BEE9B4;
}