
.info-tab-box {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
  box-sizing: border-box;
}

.info-tab-box p {
  width: 50%;
  border-bottom: 3px solid lightgrey;
  text-align: center;
  box-sizing: border-box;
}

.info-tab-box p.active {
  width: 50%;
  border-bottom: 3px solid #BEE9B4;
  text-align: center;
  box-sizing: border-box;
}
.info-tab-box p:not(.active) {
  cursor: pointer;
}

.info-tab-box p:hover {
  border-bottom: 3px solid #BEE9B4;
}