.nav-box {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 50px;
    padding: 20px;
    color: white;
    background: #BEE9B4;
}

.nav-box .logo-img-box {
    width: auto;
    height: 100%;
}

.nav-box .logo-img-box a {
    width: auto;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}

.nav-box .logo-img-box a img {
    width: auto;
    height: 100%;
}

.nav-box .nav-menue-box a {
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
}

.nav-box+div {
    padding-top: 90px;
}