
#entire-box {
  position: fixed;
  width: 30rem;
  height: calc(100% - 90px - 14rem);
  top: calc(90px + 7rem);
  left: calc(50% - 15rem);
  display: flex;
  justify-content: center;
  z-index: 3;
}

#review-entire-box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.2rem solid #BEE9B4;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem grey;
  box-sizing: border-box;
  background-color: white;
}

#review-entire-box>img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

#store-name {
  width: 100%;
  height: 7rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 7rem;
  text-align: center;
}

#register-my-pick {
  position: absolute;
  width: 5rem;
  height: 2rem;
  top: 5rem;
  left: calc(50% - 2.5rem);
  border: 0;
  background-color: #BEE9B4;
  cursor: pointer;
}