.userinfo-box {
  width: calc(100% - 20rem);
  height: 100%;
  margin-left: 10rem;
}

.userinfo-box>h2 {
  margin-top: 2rem;
  border-bottom: 1px solid lightgrey;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
}

.userinfo-box>div {
  display: flex;
  font-size: 1.1rem;
  line-height: 2rem;
}

.userinfo-box>div:nth-child(n+1) {
  border-bottom: 1px solid lightgrey;
}

.userinfo-box>div>p {
  line-height: 3rem;
  text-align: center;
}

.userinfo-box>div>p:first-child {
  width: 10rem;
}

.userinfo-box>div>p:nth-child(2) {
  width: calc(100% - 10rem);
}

.userinfo-box .signup-btns {
  padding-top: 2rem;
  border: 0 !important;
}

.userinfo-box .signup-btns button {
  margin: auto;
  width: 10rem;
  height: 3rem;
  border: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #BEE9B4;
}